; begin auth token
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/registry/:username=Interfirst-DevOps
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/registry/:_password=eDdjeHB1aDJmZXY1aGx4YWFwN3pyNG94cXdkemxvZ2c0YnVzcWNsb2Z2MzQ2a2thaW1pYQ==
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/:username=Interfirst-DevOps
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/:_password=eDdjeHB1aDJmZXY1aGx4YWFwN3pyNG94cXdkemxvZ2c0YnVzcWNsb2Z2MzQ2a2thaW1pYQ==
//pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://registry.npmjs.org

@interfirst:registry=https://pkgs.dev.azure.com/Interfirst-DevOps/SkyNet/_packaging/NPM-feed/npm/registry/

always-auth=true